# <할수있다 퀀트투자> 프로젝트
### 전략 : 강환국 슈퍼 가치 전략
### 작성자 : 정경륜
<br>

## 전략소개
> <br>

> ### 매수전략 
> 1. 한국 시가총액 하위 20% 주식을 대상으로 PBR, PCR, PER, PSR 각각 순위를 매김
> 2. 네 개 지표의 순위를 더해 통합 순위 작성
> 3. 통합 순위가 높은 종목 50개 매수
> ### 매도전략
> * 연 1회 리벨런싱
> ### 기대 CAGR 
> * 25% 이상  
> <br>

## 용어 설명
<br>

* **PER**(*Price Earning Ratio*) = $주가 \over 주당순이익(EPS)$ 
        : 한 기업이 얻은 순이익 1원을 증권시장이 얼마의 가격으로 평가하고 있는가를 나타내는 수치다.

<br>

* **PCR**(*Price Cash Flow Ratio*) = $주가 \over 주당영업현금흐름(CFPS)$ 
        : 특정 기업이 얻은 영업현금흐름 1원을 증권시장이 얼마의 가격으로 평가하고 있는지 나타내는 수치다.

<br>

* **PSR**(*Price Selling Ratio*) = $주가 \over 주당매출액(SPS)$ 
         : 기업의 매출액 1원을 증권시장이 얼마의 가격으로 평가하는가를 나타내는 수치다.
         
<br>

* **PBR**(*Price Book Ratio*) = $주가 \over 주당순자산(BPS)$ 
        : 기업의 순자산 1원을 증권시장이 얼마의 가격으로 평가하는가를 나타내는 수치다.
<br>

위의 지표들을 구하기 위해 필요한 지표들 입니다. (아래 지표들의 공식은 fnguide.com에서 발췌해왔습니다.)

<br>

* **EPS**(*Earning Per Share*) = $지배주주순수익 \over 수정평균주식수$ 

<br>

* **CFPS**(*Cash Flow Per Share*) = $현금흐름 \over 수정평균주식수$ 

<br>

* **SPS**(*Sales Per Share*) = $영업수익(매출액)\over 수정평균주식수$ 

<br>

* **BPS**(*Book-value Per Share*) = $지배주주순자산 \over 수정기말주식수$ 

<br>

## 1. 시가총액 하위 20%의 소형주 고르기

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
from pykrx import stock
import datetime as dt
import time

#오늘 날짜 구하기
dt_now = str(dt.datetime.now().date())
print(f'{dt_now} 기준')
dt_now = ''.join(c for c in dt_now if c not in '-')

# 시가총액이 적은 순으로 나열
market_cap_df = stock.get_market_cap_by_ticker(dt_now)
market_cap_df = market_cap_df[['시가총액']]
market_cap_df = market_cap_df.sort_values(by=['시가총액'], ascending=True)
market_cap_df

2021-09-24 기준

                   시가총액
티커
225860       1277785350
225850       1414575217
267810       2266355000
240340       3342976677
001529       3418408200
...                 ...
005935   59000976390000
207940   61004130000000
035420   66608806672500
000660   75712245960000
005930  461464191115000

[2581 rows x 1 columns]

In [2]:
length = int(len(market_cap_df.index) * 0.2)
print(f'시가총액 하위 20%의 종목 개수 : {length}')

# 시가총액 하위 20% 소형주 선별
low_market_cap_df = market_cap_df.iloc[:length]
ticker_list = np.array(low_market_cap_df.index)
ticker_list

시가총액 하위 20%의 종목 개수 : 516

array(['225860', '225850', '267810', '240340', '001529', '215050',
       '245450', '276240', '093510', '140660', '270210', '114920',
       '000547', '329020', '002787', '318660', '032685', '001527',
       '116100', '288490', '001525', '009275', '002785', '001067',
       '014915', '016385', '242350', '001065', '308700', '179720',
       '039230', '270020', '111820', '021045', '217910', '347140',
       '00781K', '323210', '267060', '335870', '114570', '121890',
       '000545', '140290', '373340', '323280', '388790', '058420',
       '000227', '349720', '011155', '014285', '000145', '373200',
       '329560', '331520', '121060', '004545', '285770', '185190',
       '343510', '217320', '000325', '005745', '004565', '353070',
       '330990', '266870', '344050', '006345', '337450', '08537M',
       '332710', '372290', '002995', '271850', '366330', '310870',
       '014825', '090355', '341160', '367360', '183410', '313750',
       '058220', '084695', '365590', '004415', '012205', '353060',
       '340120', '353490', '348840', '208890', '086460', '003075',
       '317030', '333050', '004985', '001745', '351340', '299480',
       '008355', '322190', '004105', '355150', '001755', '388800',
       '368770', '26490K', '387310', '321260', '189350', '000995',
       '386580', '005965', '367460', '101680', '340350', '377400',
       '332290', '244880', '336570', '327970', '367340', '00806K',
       '005725', '199290', '340440', '233990', '122830', '311060',
       '224020', '328380', '367480', '342550', '033790', '007575',
       '351320', '258050', '050540', '336060', '236340', '223220',
       '359090', '307870', '206950', '369370', '323940', '001515',
       '266170', '038340', '299670', '145995', '004255', '331380',
       '236030', '103230', '210120', '009415', '000725', '149010',
       '141020', '317320', '363260', '178600', '331660', '309900',
       '053110', '010580', '221610', '000885', '208850', '238500',
       '053060', '045890', '007815', '058530', '053660', '000075',
       '18064K', '058450', '238170', '064510', '114120', '222670',
       '344860', '250030', '001795', '38380K', '253610', '000225',
       '064090', '135160', '380320', '000087', '115610', '002355',
       '161570', '279060', '224810', '377630', '127160', '257990',
       '002420', '070300', '002025', '215570', '208860', '066830',
       '008500', '281310', '001685', '009730', '033110', '087730',
       '278990', '052190', '136660', '004365', '025890', '900110',
       '900120', '084440', '35320K', '202960', '010145', '091440',
       '182690', '251280', '224760', '004835', '043360', '191600',
       '36328K', '204210', '017250', '258540', '302920', '044180',
       '134580', '096300', '086220', '317860', '096870', '275630',
       '150440', '012600', '066430', '001770', '227420', '098660',
       '172580', '019490', '115570', '069330', '322970', '232830',
       '153360', '103660', '286000', '207490', '101670', '020400',
       '052770', '175140', '003925', '092590', '379390', '121850',
       '089530', '054410', '099520', '026910', '083470', '010640',
       '110020', '001420', '101400', '073190', '131100', '002680',
       '108675', '900270', '134060', '090740', '071950', '009140',
       '001465', '323230', '005030', '112190', '227610', '029480',
       '065690', '214310', '113810', '056090', '243870', '015260',
       '048830', '191410', '219550', '160600', '004920', '044780',
       '066790', '155900', '043200', '065420', '062970', '073540',
       '030350', '003680', '060480', '223310', '096610', '208350',
       '200580', '011300', '099410', '252500', '050320', '003495',
       '163430', '030720', '114190', '123330', '051390', '032580',
       '070590', '081580', '043710', '010420', '317850', '158300',
       '033250', '212310', '093380', '088790', '046070', '051630',
       '018500', '035290', '341310', '076340', '140910', '060260',
       '221800', '147830', '035460', '011230', '154040', '086060',
       '158310', '000760', '060300', '072950', '039740', '003465',
       '079170', '091970', '014910', '320000', '173130', '266470',
       '115480', '033050', '33637L', '317830', '066360', '038060',
       '005820', '153460', '025880', '237750', '080530', '254120',
       '00499K', '187270', '258250', '009835', '130740', '107640',
       '162120', '332370', '219750', '119500', '197140', '024830',
       '008470', '032960', '234920', '033340', '067770', '054940',
       '139050', '078650', '011080', '019540', '222810', '192390',
       '079950', '093640', '317770', '079000', '122690', '027040',
       '054300', '003475', '007630', '099440', '038010', '177350',
       '900070', '225590', '026040', '006125', '208370', '056000',
       '045300', '900260', '115530', '187790', '083660', '131090',
       '025870', '263810', '059100', '025530', '006570', '290270',
       '011420', '005305', '007770', '046310', '079650', '257370',
       '064480', '069140', '290660', '010660', '178780', '263540',
       '007530', '024940', '085910', '053050', '001210', '222160',
       '008290', '123750', '33626L', '184230', '046970', '356890',
       '048770', '049470', '094970', '023790', '131180', '101170',
       '148780', '010400', '246720', '246250', '900300', '233250',
       '069110', '038950', '025560', '189690', '032750', '005257',
       '212560', '095270', '337840', '322180', '082660', '900290',
       '003535', '050120', '008830', '072130', '036480', '084670',
       '336040', '204840', '138070', '019180', '001000', '323350',
       '039980', '050860', '011560', '006880', '091340', '900340',
       '114630', '226400', '279600', '100030', '204020', '203450',
       '080470', '006200', '227100', '063760', '050760', '078935',
       '007610', '221980', '109070', '049120', '062860', '128540'],
      dtype=object)

## 2. 선정된 종목의 PER, PCR, PSR, PBR 지표 구하기 
### 1) 크롤링 테스트
PER, PCR, PSR, PBR을 구하기 위해 삼성전자 한 종목으로 크롤링 테스트를 진행합니다.

가장 최신의 지표를 구하기 위해 pykrx로부터 가장 최신의 수정종가를 불러온 후 이를 EPS, CFPS, SPS, BPS로 나눠 PER, PCR, PSR, PBR을 구하려 합니다.

크롤링 테스트에선 삼성전자의 가장 최신 분기의 EPS, CFPS, SPS, BPS를 불러오는 것까지만 하겠습니다.

In [3]:
import requests

# 삼성전자 단일 종목으로 크롤링 테스트
code = "005930"
url = f"http://comp.fnguide.com/SVO2/ASP/SVD_Invest.asp?pGB=1&gicode=A{code}&cID=&MenuYn=Y&ReportGB=&NewMenuID=105&stkGb=701"
header = {"User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36"}
res = requests.get(url, headers=header)
res.raise_for_status()

df = pd.read_html(res.text)[1]
df

,IFRS 연결,2017/12,2018/12,2019/12,2020/12,2021/06
0,Per Share,Per Share,Per Share,Per Share,Per Share,Per Share
1,EPS계산에 참여한 계정 펼치기(원),5421,6024,3166,3841,2435
2,EBITDAPS계산에 참여한 계정 펼치기(원),9934,11717,8445,9765,5562
3,CFPS계산에 참여한 계정 펼치기(원),8321,9659,7523,8307,4766
4,SPS계산에 참여한 계정 펼치기(원),31414,33458,33919,34862,19000
5,BPS계산에 참여한 계정 펼치기(원),28971,35342,37528,39406,40361
6,Dividends,Dividends,Dividends,Dividends,Dividends,Dividends
7,"DPS(보통주,현금)(원)계산에 참여한 계정 펼치기",850,1416,1416,2994,722
8,"DPS(1우선주,현금)(원)계산에 참여한 계정 펼치기",851,1417,1417,2995,722
9,배당성향(현금)(%)계산에 참여한 계정 펼치기,14.09,21.92,44.73,77.95,NaN
10,Multiples,Multiples,Multiples,Multiples,Multiples,Multiples
11,PER계산에 참여한 계정 펼치기,9.40,6.42,17.63,21.09,NaN
12,PCR계산에 참여한 계정 펼치기,6.12,4.01,7.42,9.75,NaN
13,PSR계산에 참여한 계정 펼치기,1.62,1.16,1.65,2.32,NaN
14,PBR계산에 참여한 계정 펼치기,1.76,1.10,1.49,2.06,2.00
15,EV/Sales계산에 참여한 계정 펼치기,1.56,1.09,1.64,2.33,NaN
16,EV/EBITDA계산에 참여한 계정 펼치기,4.94,3.10,6.60,8.33,NaN
17,FCF,FCF,FCF,FCF,FCF,FCF
18,총현금흐름,623891,691786,494337,564882,321023
19,세후영업이익,402717,426966,198361,261526,162696
20,유무형자산상각비,221174,264820,295976,303356,158327
21,총투자,506359,368741,386970,244511,324788
22,FCFF,117533,323045,107367,320372,-3765

In [4]:
df = df.drop(2)
df = df.iloc[1:5]
value = df['2021/06'].values

df = pd.DataFrame(columns=['EPS', 'CFPS', 'SPS', 'BPS'])
df.loc[code] = value
df

         EPS  CFPS    SPS    BPS
005930  2435  4766  19000  40361

크롤링이 잘 진행된 것을 확인할 수 있습니다.

### 2) 크롤링 진행

실제 크롤링을 진행합니다.

앞서 크롤링 테스트를 토대로 dataframe을 알맞게 수정하는 함수를 df_modify()로 정의하였습니다.

In [5]:
fundamental_df = pd.DataFrame(columns=['EPS', 'CFPS', 'SPS', 'BPS'])

def df_modify(df, date, ticker):
    df = df.drop(2)
    df = df.iloc[1:5]
    fundamental_df.loc[ticker] = df[date].values
    
    return fundamental_df

In [6]:
date = '2021/06'
length = len(ticker_list)
p = 0

for ticker in ticker_list:
    p += 1
    try:
        url = f"http://comp.fnguide.com/SVO2/ASP/SVD_Invest.asp?pGB=1&gicode=A{ticker}&cID=&MenuYn=Y&ReportGB=&NewMenuID=105&stkGb=701"
        header = {"User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36"}
        res = requests.get(url, headers=header)
        res.raise_for_status()

        df = pd.read_html(res.text)[1]
        print(f'{ticker} : Success! ({p}/{length})')
        fundamental_df = df_modify(df, date, ticker)
    except:
        print(f'{ticker} : No tables found ({p}/{length})')

fundamental_df

225860 : Success! (1/516)
225850 : Success! (2/516)
267810 : Success! (3/516)
240340 : Success! (4/516)
001529 : No tables found (5/516)
215050 : Success! (6/516)
245450 : Success! (7/516)
276240 : Success! (8/516)
093510 : Success! (9/516)
140660 : Success! (10/516)
270210 : Success! (11/516)
114920 : Success! (12/516)
000547 : No tables found (13/516)
329020 : Success! (14/516)
002787 : No tables found (15/516)
318660 : Success! (16/516)
032685 : No tables found (17/516)
001527 : No tables found (18/516)
116100 : Success! (19/516)
288490 : Success! (20/516)
001525 : No tables found (21/516)
009275 : No tables found (22/516)
002785 : No tables found (23/516)
001067 : No tables found (24/516)
014915 : No tables found (25/516)
016385 : No tables found (26/516)
242350 : Success! (27/516)
001065 : No tables found (28/516)
308700 : Success! (29/516)
179720 : Success! (30/516)
039230 : Success! (31/516)
270020 : Success! (32/516)
111820 : Success! (33/516)
021045 : No tables found (34/516)
217910 : Success! (35/516)
347140 : Success! (36/516)
00781K : No tables found (37/516)
323210 : Success! (38/516)
267060 : Success! (39/516)
335870 : Success! (40/516)
114570 : Success! (41/516)
121890 : Success! (42/516)
000545 : No tables found (43/516)
140290 : Success! (44/516)
373340 : Success! (45/516)
323280 : Success! (46/516)
388790 : Success! (47/516)
058420 : Success! (48/516)
000227 : No tables found (49/516)
349720 : Success! (50/516)
011155 : No tables found (51/516)
014285 : No tables found (52/516)
000145 : No tables found (53/516)
373200 : Success! (54/516)
329560 : Success! (55/516)
331520 : Success! (56/516)
121060 : Success! (57/516)
004545 : No tables found (58/516)
285770 : Success! (59/516)
185190 : Success! (60/516)
343510 : Success! (61/516)
217320 : Success! (62/516)
000325 : No tables found (63/516)
005745 : No tables found (64/516)
004565 : No tables found (65/516)
353070 : Success! (66/516)
330990 : Success! (67/516)
266870 : Success! (68/516)
344050 : Success! (69/516)
006345 : No tables found (70/516)
337450 : Success! (71/516)
08537M : No tables found (72/516)
332710 : Success! (73/516)
372290 : Success! (74/516)
002995 : No tables found (75/516)
271850 : Success! (76/516)
366330 : Success! (77/516)
310870 : Success! (78/516)
014825 : No tables found (79/516)
090355 : No tables found (80/516)
341160 : Success! (81/516)
367360 : Success! (82/516)
183410 : Success! (83/516)
313750 : Success! (84/516)
058220 : Success! (85/516)
084695 : No tables found (86/516)
365590 : Success! (87/516)
004415 : No tables found (88/516)
012205 : No tables found (89/516)
353060 : Success! (90/516)
340120 : Success! (91/516)
353490 : Success! (92/516)
348840 : Success! (93/516)
208890 : Success! (94/516)
086460 : Success! (95/516)
003075 : No tables found (96/516)
317030 : Success! (97/516)
333050 : Success! (98/516)
004985 : No tables found (99/516)
001745 : No tables found (100/516)
351340 : Success! (101/516)
299480 : Success! (102/516)
008355 : No tables found (103/516)
322190 : Success! (104/516)
004105 : No tables found (105/516)
355150 : Success! (106/516)
001755 : No tables found (107/516)
388800 : Success! (108/516)
368770 : Success! (109/516)
26490K : No tables found (110/516)
387310 : Success! (111/516)
321260 : Success! (112/516)
189350 : Success! (113/516)
000995 : No tables found (114/516)
386580 : Success! (115/516)
005965 : No tables found (116/516)
367460 : Success! (117/516)
101680 : Success! (118/516)
340350 : Success! (119/516)
377400 : Success! (120/516)
332290 : Success! (121/516)
244880 : Success! (122/516)
336570 : Success! (123/516)
327970 : Success! (124/516)
367340 : Success! (125/516)
00806K : No tables found (126/516)
005725 : No tables found (127/516)
199290 : Success! (128/516)
340440 : Success! (129/516)
233990 : Success! (130/516)
122830 : Success! (131/516)
311060 : Success! (132/516)
224020 : Success! (133/516)
328380 : Success! (134/516)
367480 : Success! (135/516)
342550 : Success! (136/516)
033790 : Success! (137/516)
007575 : No tables found (138/516)
351320 : Success! (139/516)
258050 : Success! (140/516)
050540 : Success! (141/516)
336060 : Success! (142/516)
236340 : Success! (143/516)
223220 : Success! (144/516)
359090 : Success! (145/516)
307870 : Success! (146/516)
206950 : Success! (147/516)
369370 : Success! (148/516)
323940 : Success! (149/516)
001515 : No tables found (150/516)
266170 : Success! (151/516)
038340 : Success! (152/516)
299670 : Success! (153/516)
145995 : No tables found (154/516)
004255 : No tables found (155/516)
331380 : Success! (156/516)
236030 : Success! (157/516)
103230 : Success! (158/516)
210120 : Success! (159/516)
009415 : No tables found (160/516)
000725 : No tables found (161/516)
149010 : Success! (162/516)
141020 : Success! (163/516)
317320 : Success! (164/516)
363260 : Success! (165/516)
178600 : Success! (166/516)
331660 : Success! (167/516)
309900 : Success! (168/516)
053110 : Success! (169/516)
010580 : Success! (170/516)
221610 : Success! (171/516)
000885 : No tables found (172/516)
208850 : Success! (173/516)
238500 : Success! (174/516)
053060 : Success! (175/516)
045890 : Success! (176/516)
007815 : No tables found (177/516)
058530 : Success! (178/516)
053660 : Success! (179/516)
000075 : No tables found (180/516)
18064K : No tables found (181/516)
058450 : Success! (182/516)
238170 : Success! (183/516)
064510 : Success! (184/516)
114120 : Success! (185/516)
222670 : Success! (186/516)
344860 : Success! (187/516)
250030 : Success! (188/516)
001795 : No tables found (189/516)
38380K : No tables found (190/516)
253610 : Success! (191/516)
000225 : No tables found (192/516)
064090 : Success! (193/516)
135160 : Success! (194/516)
380320 : Success! (195/516)
000087 : No tables found (196/516)
115610 : Success! (197/516)
002355 : No tables found (198/516)
161570 : Success! (199/516)
279060 : Success! (200/516)
224810 : Success! (201/516)
377630 : Success! (202/516)
127160 : Success! (203/516)
257990 : Success! (204/516)
002420 : Success! (205/516)
070300 : Success! (206/516)
002025 : No tables found (207/516)
215570 : Success! (208/516)
208860 : Success! (209/516)
066830 : Success! (210/516)
008500 : Success! (211/516)
281310 : Success! (212/516)
001685 : No tables found (213/516)
009730 : Success! (214/516)
033110 : Success! (215/516)
087730 : Success! (216/516)
278990 : Success! (217/516)
052190 : Success! (218/516)
136660 : Success! (219/516)
004365 : No tables found (220/516)
025890 : Success! (221/516)
900110 : Success! (222/516)
900120 : Success! (223/516)
900120 : No tables found (223/516)
084440 : Success! (224/516)
35320K : No tables found (225/516)
202960 : Success! (226/516)
010145 : No tables found (227/516)
091440 : Success! (228/516)
182690 : Success! (229/516)
251280 : Success! (230/516)
224760 : Success! (231/516)
004835 : No tables found (232/516)
043360 : Success! (233/516)
191600 : Success! (234/516)
36328K : No tables found (235/516)
204210 : Success! (236/516)
017250 : Success! (237/516)
258540 : Success! (238/516)
302920 : Success! (239/516)
044180 : Success! (240/516)
134580 : Success! (241/516)
096300 : Success! (242/516)
096300 : No tables found (242/516)
086220 : Success! (243/516)
317860 : Success! (244/516)
096870 : Success! (245/516)
275630 : Success! (246/516)
150440 : Success! (247/516)
012600 : Success! (248/516)
066430 : Success! (249/516)
001770 : Success! (250/516)
227420 : Success! (251/516)
098660 : Success! (252/516)
172580 : Success! (253/516)
019490 : Success! (254/516)
115570 : Success! (255/516)
069330 : Success! (256/516)
322970 : Success! (257/516)
232830 : Success! (258/516)
153360 : Success! (259/516)
103660 : Success! (260/516)
286000 : Success! (261/516)
207490 : Success! (262/516)
101670 : Success! (263/516)
020400 : Success! (264/516)
052770 : Success! (265/516)
175140 : Success! (266/516)
003925 : No tables found (267/516)
092590 : Success! (268/516)
379390 : Success! (269/516)
121850 : Success! (270/516)
089530 : Success! (271/516)
054410 : Success! (272/516)
099520 : Success! (273/516)
026910 : Success! (274/516)
083470 : Success! (275/516)
010640 : Success! (276/516)
110020 : Success! (277/516)
001420 : Success! (278/516)
101400 : Success! (279/516)
073190 : Success! (280/516)
131100 : Success! (281/516)
002680 : Success! (282/516)
108675 : No tables found (283/516)
900270 : Success! (284/516)
134060 : Success! (285/516)
090740 : Success! (286/516)
071950 : Success! (287/516)
009140 : Success! (288/516)
001465 : No tables found (289/516)
323230 : Success! (290/516)
005030 : Success! (291/516)
112190 : Success! (292/516)
227610 : Success! (293/516)
029480 : Success! (294/516)
065690 : Success! (295/516)
214310 : Success! (296/516)
113810 : Success! (297/516)
056090 : Success! (298/516)
243870 : Success! (299/516)
015260 : Success! (300/516)
048830 : Success! (301/516)
191410 : Success! (302/516)
219550 : Success! (303/516)
160600 : Success! (304/516)
004920 : Success! (305/516)
044780 : Success! (306/516)
066790 : Success! (307/516)
155900 : Success! (308/516)
043200 : Success! (309/516)
065420 : Success! (310/516)
062970 : Success! (311/516)
073540 : Success! (312/516)
030350 : Success! (313/516)
003680 : Success! (314/516)
060480 : Success! (315/516)
223310 : Success! (316/516)
096610 : Success! (317/516)
208350 : Success! (318/516)
200580 : Success! (319/516)
011300 : Success! (320/516)
099410 : Success! (321/516)
252500 : Success! (322/516)
050320 : Success! (323/516)
003495 : No tables found (324/516)
163430 : Success! (325/516)
030720 : Success! (326/516)
114190 : Success! (327/516)
123330 : Success! (328/516)
051390 : Success! (329/516)
032580 : Success! (330/516)
070590 : Success! (331/516)
081580 : Success! (332/516)
043710 : Success! (333/516)
010420 : Success! (334/516)
317850 : Success! (335/516)
158300 : Success! (336/516)
033250 : Success! (337/516)
212310 : Success! (338/516)
093380 : Success! (339/516)
093380 : No tables found (339/516)
088790 : Success! (340/516)
046070 : Success! (341/516)
051630 : Success! (342/516)
018500 : Success! (343/516)
035290 : Success! (344/516)
341310 : Success! (345/516)
076340 : Success! (346/516)
140910 : Success! (347/516)
060260 : Success! (348/516)
221800 : Success! (349/516)
147830 : Success! (350/516)
035460 : Success! (351/516)
011230 : Success! (352/516)
154040 : Success! (353/516)
086060 : Success! (354/516)
158310 : Success! (355/516)
000760 : Success! (356/516)
060300 : Success! (357/516)
072950 : Success! (358/516)
039740 : Success! (359/516)
003465 : No tables found (360/516)
079170 : Success! (361/516)
091970 : Success! (362/516)
014910 : Success! (363/516)
320000 : Success! (364/516)
173130 : Success! (365/516)
266470 : Success! (366/516)
115480 : Success! (367/516)
033050 : Success! (368/516)
33637L : No tables found (369/516)
317830 : Success! (370/516)
066360 : Success! (371/516)
038060 : Success! (372/516)
005820 : Success! (373/516)
153460 : Success! (374/516)
025880 : Success! (375/516)
237750 : Success! (376/516)
080530 : Success! (377/516)
254120 : Success! (378/516)
00499K : No tables found (379/516)
187270 : Success! (380/516)
258250 : Success! (381/516)
009835 : No tables found (382/516)
130740 : Success! (383/516)
107640 : Success! (384/516)
162120 : Success! (385/516)
332370 : Success! (386/516)
219750 : Success! (387/516)
119500 : Success! (388/516)
197140 : Success! (389/516)
024830 : Success! (390/516)
008470 : Success! (391/516)
032960 : Success! (392/516)
234920 : Success! (393/516)
033340 : Success! (394/516)
067770 : Success! (395/516)
054940 : Success! (396/516)
139050 : Success! (397/516)
078650 : Success! (398/516)
011080 : Success! (399/516)
019540 : Success! (400/516)
222810 : Success! (401/516)
192390 : Success! (402/516)
079950 : Success! (403/516)
093640 : Success! (404/516)
317770 : Success! (405/516)
079000 : Success! (406/516)
122690 : Success! (407/516)
027040 : Success! (408/516)
054300 : Success! (409/516)
003475 : No tables found (410/516)
007630 : Success! (411/516)
099440 : Success! (412/516)
038010 : Success! (413/516)
177350 : Success! (414/516)
900070 : Success! (415/516)
225590 : Success! (416/516)
026040 : Success! (417/516)
006125 : No tables found (418/516)
208370 : Success! (419/516)
056000 : Success! (420/516)
045300 : Success! (421/516)
900260 : Success! (422/516)
115530 : Success! (423/516)
187790 : Success! (424/516)
083660 : Success! (425/516)
131090 : Success! (426/516)
025870 : Success! (427/516)
263810 : Success! (428/516)
059100 : Success! (429/516)
025530 : Success! (430/516)
006570 : Success! (431/516)
290270 : Success! (432/516)
011420 : Success! (433/516)
005305 : No tables found (434/516)
007770 : Success! (435/516)
046310 : Success! (436/516)
079650 : Success! (437/516)
257370 : Success! (438/516)
064480 : Success! (439/516)
069140 : Success! (440/516)
290660 : Success! (441/516)
010660 : Success! (442/516)
178780 : Success! (443/516)
263540 : Success! (444/516)
007530 : Success! (445/516)
024940 : Success! (446/516)
085910 : Success! (447/516)
053050 : Success! (448/516)
001210 : Success! (449/516)
222160 : Success! (450/516)
008290 : Success! (451/516)
123750 : Success! (452/516)
33626L : No tables found (453/516)
184230 : Success! (454/516)
046970 : Success! (455/516)
356890 : Success! (456/516)
048770 : Success! (457/516)
049470 : Success! (458/516)
094970 : Success! (459/516)
023790 : Success! (460/516)
131180 : Success! (461/516)
101170 : Success! (462/516)
148780 : Success! (463/516)
010400 : Success! (464/516)
246720 : Success! (465/516)
246250 : Success! (466/516)
900300 : Success! (467/516)
233250 : Success! (468/516)
069110 : Success! (469/516)
038950 : Success! (470/516)
025560 : Success! (471/516)
189690 : Success! (472/516)
032750 : Success! (473/516)
005257 : No tables found (474/516)
212560 : Success! (475/516)
095270 : Success! (476/516)
337840 : Success! (477/516)
322180 : Success! (478/516)
082660 : Success! (479/516)
900290 : Success! (480/516)
900290 : No tables found (480/516)
003535 : No tables found (481/516)
050120 : Success! (482/516)
008830 : Success! (483/516)
072130 : Success! (484/516)
036480 : Success! (485/516)
084670 : Success! (486/516)
336040 : Success! (487/516)
204840 : Success! (488/516)
138070 : Success! (489/516)
019180 : Success! (490/516)
001000 : Success! (491/516)
323350 : Success! (492/516)
039980 : Success! (493/516)
050860 : Success! (494/516)
011560 : Success! (495/516)
006880 : Success! (496/516)
091340 : Success! (497/516)
900340 : Success! (498/516)
114630 : Success! (499/516)
226400 : Success! (500/516)
279600 : Success! (501/516)
100030 : Success! (502/516)
204020 : Success! (503/516)
203450 : Success! (504/516)
080470 : Success! (505/516)
006200 : Success! (506/516)
227100 : Success! (507/516)
063760 : Success! (508/516)
050760 : Success! (509/516)
078935 : No tables found (510/516)
007610 : Success! (511/516)
221980 : Success! (512/516)
109070 : Success! (513/516)
049120 : Success! (514/516)
062860 : Success! (515/516)
128540 : Success! (516/516)

         EPS  CFPS   SPS    BPS
225860   NaN   NaN   NaN    NaN
225850   NaN   NaN   NaN    NaN
267810   NaN   NaN   NaN    NaN
240340   NaN   NaN   NaN    NaN
215050   NaN   NaN   NaN    NaN
...      ...   ...   ...    ...
221980  1104  1188  6426  21768
109070    17    74  1522    628
049120  -220  -130   439   1438
062860  -126   -69  1750   7875
128540     9   159  2803   4161

[433 rows x 4 columns]

Table이 없는 경우는 우선주 종목 입니다.

### 3) EPS, CFPS, SPS, BPS 테이블 분석

In [7]:
fundamental_df.isnull().sum()

EPS     111
CFPS    107
SPS     163
BPS     163
dtype: int64

우선 null 값이 있는 항들은 지표를 계산할 수 없으니 모두 제거하였습니다.

In [8]:
fundamental_df = fundamental_df.dropna(axis=0)
fundamental_df

         EPS  CFPS   SPS    BPS
039230   -58   -44   429   1191
111820   -41   -34   356    500
114570   -58   -58   137   4139
121890   134   152  1222    782
058420  -882  -765  1792    488
...      ...   ...   ...    ...
221980  1104  1188  6426  21768
109070    17    74  1522    628
049120  -220  -130   439   1438
062860  -126   -69  1750   7875
128540     9   159  2803   4161

[270 rows x 4 columns]

In [9]:
fundamental_df.isnull().sum()

EPS     0
CFPS    0
SPS     0
BPS     0
dtype: int64

In [10]:
fundamental_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 270 entries, 039230 to 128540
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   EPS     270 non-null    object
 1   CFPS    270 non-null    object
 2   SPS     270 non-null    object
 3   BPS     270 non-null    object
dtypes: object(4)
memory usage: 10.5+ KB

In [11]:
fundamental_df = fundamental_df.apply(pd.to_numeric)
fundamental_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 270 entries, 039230 to 128540
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   EPS     270 non-null    int64
 1   CFPS    270 non-null    int64
 2   SPS     270 non-null    int64
 3   BPS     270 non-null    int64
dtypes: int64(4)
memory usage: 10.5+ KB

### 4) PER, PCR, PSR, PBR 계산

수정주가를 가져오기 위해서 pykrx의 get_market_ohlcv_by_date() 함수를 이용하려 합니다. 수정주가를 얻기 위해선 adjust 옵션을 True로 설정해주면 되지만 default 값이 True이기에 그냥 진행해도 무방합니다. 다만 여기선 수정주가를 사용함을 명시하기 위해 옵션을 표시하겠습니다.

In [12]:
ticker_list = fundamental_df.index
ticker_list

Index(['039230', '111820', '114570', '121890', '058420', '058220', '101680',
       '033790', '050540', '038340',
       ...
       '006200', '227100', '063760', '050760', '007610', '221980', '109070',
       '049120', '062860', '128540'],
      dtype='object', length=270)

현재일로부터 가장 가까운 영업일과 해당 영업일 전날을 구합니다.

In [14]:
target_date = stock.get_nearest_business_day_in_a_week(date=dt_now)
date_formatter = "%Y%m%d"
today = dt.datetime.strptime(target_date, date_formatter)
previous_date = today - dt.timedelta(1)
previous_date = dt.datetime.strftime(previous_date, date_formatter)
print(f'target date : {target_date} ')
print(f'previous date : {previous_date}')

target date : 20210924
previous date : 20210923

In [15]:
# 현재일로부터 가장 가까운 영업일을 구함

value_df = pd.DataFrame(columns=['PER', 'PCR', 'PSR', 'PBR'])

length = len(fundamental_df.index)
p = 0

for ticker in ticker_list:
    df = stock.get_market_ohlcv_by_date(previous_date, target_date, ticker, adjusted=True)
    adjusted_price = df['종가']     # 수정종가
    value = adjusted_price[0] / fundamental_df.loc[ticker]  # 지표 계산
    value_df.loc[ticker] = value.values
    p += 1
    print(f'Processing : {p}/{length}')
    time.sleep(1)

value_df

Processing : 1/270
Processing : 2/270
Processing : 3/270
Processing : 4/270
Processing : 5/270
Processing : 6/270
Processing : 7/270
Processing : 8/270
Processing : 9/270
Processing : 10/270
Processing : 11/270
Processing : 12/270
Processing : 13/270
Processing : 14/270
Processing : 15/270
Processing : 16/270
Processing : 17/270
Processing : 18/270
Processing : 19/270
Processing : 20/270
Processing : 21/270
Processing : 22/270
Processing : 23/270
Processing : 24/270
Processing : 25/270
Processing : 26/270
Processing : 27/270
Processing : 28/270
Processing : 29/270
Processing : 30/270
Processing : 31/270
Processing : 32/270
Processing : 33/270
Processing : 34/270
Processing : 35/270
Processing : 36/270
Processing : 37/270
Processing : 38/270
Processing : 39/270
Processing : 40/270
Processing : 41/270
Processing : 42/270
Processing : 43/270
Processing : 44/270
Processing : 45/270
Processing : 46/270
Processing : 47/270
Processing : 48/270
Processing : 49/270
Processing : 50/270
Processing : 51/270
Processing : 52/270
Processing : 53/270
Processing : 54/270
Processing : 55/270
Processing : 56/270
Processing : 57/270
Processing : 58/270
Processing : 59/270
Processing : 60/270
Processing : 61/270
Processing : 62/270
Processing : 63/270
Processing : 64/270
Processing : 65/270
Processing : 66/270
Processing : 67/270
Processing : 68/270
Processing : 69/270
Processing : 70/270
Processing : 71/270
Processing : 72/270
Processing : 73/270
Processing : 74/270
Processing : 75/270
Processing : 76/270
Processing : 77/270
Processing : 78/270
Processing : 79/270
Processing : 80/270
Processing : 81/270
Processing : 82/270
Processing : 83/270
Processing : 84/270
Processing : 85/270
Processing : 86/270
Processing : 87/270
Processing : 88/270
Processing : 89/270
Processing : 90/270
Processing : 91/270
Processing : 92/270
Processing : 93/270
Processing : 94/270
Processing : 95/270
Processing : 96/270
Processing : 97/270
Processing : 98/270
Processing : 99/270
Processing : 100/270
Processing : 101/270
Processing : 102/270
Processing : 103/270
Processing : 104/270
Processing : 105/270
Processing : 106/270
Processing : 107/270
Processing : 108/270
Processing : 109/270
Processing : 110/270
Processing : 111/270
Processing : 112/270
Processing : 113/270
Processing : 114/270
Processing : 115/270
Processing : 116/270
Processing : 117/270
Processing : 118/270
Processing : 119/270
Processing : 120/270
Processing : 121/270
Processing : 122/270
Processing : 123/270
Processing : 124/270
Processing : 125/270
Processing : 126/270
Processing : 127/270
Processing : 128/270
Processing : 129/270
Processing : 130/270
Processing : 131/270
Processing : 132/270
Processing : 133/270
Processing : 134/270
Processing : 135/270
Processing : 136/270
Processing : 137/270
Processing : 138/270
Processing : 139/270
Processing : 140/270
Processing : 141/270
Processing : 142/270
Processing : 143/270
Processing : 144/270
Processing : 145/270
Processing : 146/270
Processing : 147/270
Processing : 148/270
Processing : 149/270
Processing : 150/270
Processing : 151/270
Processing : 152/270
Processing : 153/270
Processing : 154/270
Processing : 155/270
Processing : 156/270
Processing : 157/270
Processing : 158/270
Processing : 159/270
Processing : 160/270
Processing : 161/270
Processing : 162/270
Processing : 163/270
Processing : 164/270
Processing : 165/270
Processing : 166/270
Processing : 167/270
Processing : 168/270
Processing : 169/270
Processing : 170/270
Processing : 171/270
Processing : 172/270
Processing : 173/270
Processing : 174/270
Processing : 175/270
Processing : 176/270
Processing : 177/270
Processing : 178/270
Processing : 179/270
Processing : 180/270
Processing : 181/270
Processing : 182/270
Processing : 183/270
Processing : 184/270
Processing : 185/270
Processing : 186/270
Processing : 187/270
Processing : 188/270
Processing : 189/270
Processing : 190/270
Processing : 191/270
Processing : 192/270
Processing : 193/270
Processing : 194/270
Processing : 195/270
Processing : 196/270
Processing : 197/270
Processing : 198/270
Processing : 199/270
Processing : 200/270
Processing : 201/270
Processing : 202/270
Processing : 203/270
Processing : 204/270
Processing : 205/270
Processing : 206/270
Processing : 207/270
Processing : 208/270
Processing : 209/270
Processing : 210/270
Processing : 211/270
Processing : 212/270
Processing : 213/270
Processing : 214/270
Processing : 215/270
Processing : 216/270
Processing : 217/270
Processing : 218/270
Processing : 219/270
Processing : 220/270
Processing : 221/270
Processing : 222/270
Processing : 223/270
Processing : 224/270
Processing : 225/270
Processing : 226/270
Processing : 227/270
Processing : 228/270
Processing : 229/270
Processing : 230/270
Processing : 231/270
Processing : 232/270
Processing : 233/270
Processing : 234/270
Processing : 235/270
Processing : 236/270
Processing : 237/270
Processing : 238/270
Processing : 239/270
Processing : 240/270
Processing : 241/270
Processing : 242/270
Processing : 243/270
Processing : 244/270
Processing : 245/270
Processing : 246/270
Processing : 247/270
Processing : 248/270
Processing : 249/270
Processing : 250/270
Processing : 251/270
Processing : 252/270
Processing : 253/270
Processing : 254/270
Processing : 255/270
Processing : 256/270
Processing : 257/270
Processing : 258/270
Processing : 259/270
Processing : 260/270
Processing : 261/270
Processing : 262/270
Processing : 263/270
Processing : 264/270
Processing : 265/270
Processing : 266/270
Processing : 267/270
Processing : 268/270
Processing : 269/270
Processing : 270/270

               PER        PCR       PSR       PBR
039230   -3.000000  -3.954545  0.405594  0.146096
111820   -5.365854  -6.470588  0.617978  0.440000
114570  -10.689655 -10.689655  4.525547  0.149795
121890    5.514925   4.861842  0.604746  0.945013
058420   -2.448980  -2.823529  1.205357  4.426230
...            ...        ...       ...       ...
221980   14.855072  13.804714  2.552132  0.753399
109070  241.176471  55.405405  2.693824  6.528662
049120  -11.431818 -19.346154  5.728929  1.748957
062860  -53.412698 -97.536232  3.845714  0.854603
128540  507.222222  28.710692  1.628612  1.097092

[270 rows x 4 columns]

### 5) 제외조건 설정

PBR이 터무니없이 낮은 경우엔 기업이 망하기 일보 직전일 확률이 높다고 합니다. 따라서 PBR이 0.2 이하인 기업들은 제외하였습니다. 

또한 나머지 지표들이 0 또는 음수가 나온 경우엔 적자를 보고 있는 기업이기에 이 또한 제외하였습니다.

In [16]:
del_index = value_df[(value_df['PBR'] <= 0.2) | (value_df['PER'] <= 0) | (value_df['PSR'] <= 0) | (value_df['PCR'] <= 0)].index
value_df = value_df.drop(del_index)

## 3. 네 개의 지표 순위와 순위 합 구하기
### 1) 10분위로 rank 매기기

In [17]:
value_df.describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9,1])

/opt/homebrew/Caskroom/miniforge/base/envs/quant/lib/python3.9/site-packages/numpy/lib/function_base.py:3961: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

               PER         PCR         PSR         PBR
count   141.000000  141.000000  141.000000  141.000000
mean     71.240485   23.404427         inf    1.328588
std     181.546784   24.987284         NaN    0.921327
min       1.032212    1.019810    0.066687    0.237384
10%       7.146552    5.202559    0.530168    0.597920
20%      13.463415    9.682948    0.869118    0.729703
30%      17.663043   11.621053    1.148686    0.812041
40%      23.620690   13.846154    1.475818    0.945013
50%      28.437500   16.511111    1.891094    1.080858
60%      34.355828   20.326633    2.347670    1.253102
70%      43.125000   24.431818    3.101218    1.513300
80%      72.000000   29.863014    4.710468    1.719902
90%     119.500000   44.750000    6.668890    2.250225
100%   1477.500000  171.666667         NaN    6.528662
max    1477.500000  171.666667         inf    6.528662

In [18]:
def change_to_rank(df, col, val):
    if val <= df[col].quantile(.1):
        return 10
    elif val <= df[col].quantile(.2):
        return 9
    elif val <= df[col].quantile(.3):
        return 8
    elif val <= df[col].quantile(.4):
        return 7
    elif val <= df[col].quantile(.5):
        return 6
    elif val <= df[col].quantile(.6):
        return 5
    elif val <= df[col].quantile(.7):
        return 4
    elif val <= df[col].quantile(.8):
        return 3
    elif val <= df[col].quantile(.9):
        return 2
    else :
        return 1

In [19]:
rank_df = pd.DataFrame(columns=['PER', 'PCR', 'PSR', 'PBR'])

for col in value_df.columns:
    rank_df[col] = value_df[col].apply(lambda x : change_to_rank(value_df, col, x))
rank_df

        PER  PCR  PSR  PBR
121890   10   10    9    7
033790   10    9    5    9
050540    1    9   10    1
141020   10   10    1   10
178600    9   10   10    6
...     ...  ...  ...  ...
006200   10   10   10   10
050760    8    8    7    6
221980    8    7    4    8
109070    1    1    4    1
128540    1    3    6    5

[141 rows x 4 columns]

### 2) Rank 합 계산

In [20]:
rank_df['rank_sum'] = rank_df.sum(axis=1)
rank_df = rank_df.sort_values('rank_sum', ascending=False)
rank_df

        PER  PCR  PSR  PBR  rank_sum
024830   10   10   10   10        40
006200   10   10   10   10        40
019180   10   10   10    8        38
025530    9    9    9   10        37
900340   10    9    8   10        37
...     ...  ...  ...  ...       ...
275630    1    1    1    4         7
109070    1    1    4    1         7
050320    3    1    1    1         6
356890    2    1    2    1         6
035290    1    1    1    1         4

[141 rows x 5 columns]

## 4. 통합순위 상위 50개 종목 선택

In [21]:
num = 50
selected_stock_df = value_df.loc[rank_df.iloc[:50].index]
selected_stock_df

              PER        PCR       PSR       PBR
024830   3.678969   1.946683  0.486746  0.237384
006200   6.853659   4.561688  0.429532  0.557319
019180   3.696099   2.982601  0.320114  0.761421
025530  13.219178   6.917563  0.743595  0.364014
900340   7.072539   5.783898  0.906977  0.475444
000760   1.032212   1.019810  1.840880  0.332785
121890   5.514925   4.861842  0.604746  0.945013
212560  13.011272   5.504087  0.874743  0.729703
091340  19.545455   6.833741  0.442948  0.693376
018500   5.941176   2.337963  0.470424  1.253102
178600  10.883838   4.639397  0.492740  0.998379
053050  14.781022   8.132530  0.826193  0.660039
006880  13.463415  11.621053  0.662109  0.682493
050120   7.394696   6.484268  1.075318  0.809979
050860  13.679245  10.247350  0.612460  0.609756
090740   6.083815   3.994307  0.327117  1.513300
122690  28.383838   1.612163  0.066687  0.765042
115570  23.966480  10.540541  0.864048  0.500292
011560  22.627737  15.158924  0.393576  0.415522
025560   6.477273   6.260984  2.014134  0.712180
026040   1.985940   1.907710  1.746522  0.877102
033790   7.146552   6.685484  2.296399  0.655336
225590   4.364583   3.908582  1.460948  0.984955
008830  17.463415   9.585007  0.585446  0.936682
020400  21.280603   9.682948  0.530168  0.839587
003680  17.989822  11.862416  0.369191  0.755100
010660  28.437500  13.188406  0.675241  0.480803
023790   1.933842   1.927155  3.217860  0.687953
141020   3.272727   3.272727       inf  0.241611
001770  14.930556  12.874251  0.711631  0.911730
030720  17.663043  13.122476  0.657451  0.887574
046070   7.531250   2.326255  0.354620  1.812030
038010  28.433180  12.389558  0.721975  0.726566
032750  17.935702  12.559242  0.972834  0.753269
044780  14.683544  12.083333  1.399276  0.812041
147830  12.115869  11.534772  2.936508  0.751328
900070  43.125000  11.896552  0.959222  0.597920
050760  16.031746  10.548303  1.150669  0.960533
046310  16.334842  12.801418  0.792188  1.435388
032960   9.836066   8.891523  3.776435  0.858222
079170  21.312217  16.185567  1.409547  0.896887
094970  17.452381  10.353107  2.055524  0.993764
049470   9.914530   8.169014  2.505400  1.199586
046970  11.506024  10.105820  0.975485  1.954964
025880  22.992424  15.644330  1.389016  0.896603
007770  28.780069  17.576076  1.066268  0.629794
221980  14.855072  13.804714  2.552132  0.753399
072130   5.398230   5.202559  4.719536  1.128585
043710  16.619718  11.238095  1.564987  1.368910
072950  24.888889  19.898477  1.309067  0.762201

In [22]:
selected_ticker_list = selected_stock_df.index
selected_stocks = {}
for ticker in selected_ticker_list:
    종목 = stock.get_market_ticker_name(ticker)
    selected_stocks[ticker] = 종목
    print(종목)

세원물산
한국전자홀딩스
티에이치엔
SJM홀딩스
윙입푸드
이화산업
에스디시스템
네오오토
S&K폴리텍
동원금속
대동고려삼
지에스이
신송홀딩스
ES큐브
아세아텍
연이비앤티
서진오토모티브
스타플렉스
세보엠이씨
미래산업
제이에스티나
스카이문스테크놀로지
패션플랫폼
대동기어
대동금속
한성기업
화천기계
동일철강
포티스
SHD
동원수산
코다코
제일테크노스
삼진
에이치케이
제룡산업
글로벌에스엠
에스폴리텍
백금T&A
동일기연
한창산업
제이엠티
SGA
우리로
케이씨피드
한일화학
케이디켐
유엔젤
서울리거
빛샘전자

강환국 슈퍼 가치 전략에 따르면 매수 전략에 따라 50개의 종목을 선별한 뒤 나와 정말 맞지 않은 종목을 제외하고 20-30개의 종목을 사는 것을 추천하고 있습니다. 따라서 아래의 50개의 종목에서 부채, 적자, 산업군 등을 분석하고 20-30개의 종목들을 고르면 됩니다.

In [23]:
selected_stocks

{'024830': '세원물산',
 '006200': '한국전자홀딩스',
 '019180': '티에이치엔',
 '025530': 'SJM홀딩스',
 '900340': '윙입푸드',
 '000760': '이화산업',
 '121890': '에스디시스템',
 '212560': '네오오토',
 '091340': 'S&K폴리텍',
 '018500': '동원금속',
 '178600': '대동고려삼',
 '053050': '지에스이',
 '006880': '신송홀딩스',
 '050120': 'ES큐브',
 '050860': '아세아텍',
 '090740': '연이비앤티',
 '122690': '서진오토모티브',
 '115570': '스타플렉스',
 '011560': '세보엠이씨',
 '025560': '미래산업',
 '026040': '제이에스티나',
 '033790': '스카이문스테크놀로지',
 '225590': '패션플랫폼',
 '008830': '대동기어',
 '020400': '대동금속',
 '003680': '한성기업',
 '010660': '화천기계',
 '023790': '동일철강',
 '141020': '포티스',
 '001770': 'SHD',
 '030720': '동원수산',
 '046070': '코다코',
 '038010': '제일테크노스',
 '032750': '삼진',
 '044780': '에이치케이',
 '147830': '제룡산업',
 '900070': '글로벌에스엠',
 '050760': '에스폴리텍',
 '046310': '백금T&A',
 '032960': '동일기연',
 '079170': '한창산업',
 '094970': '제이엠티',
 '049470': 'SGA',
 '046970': '우리로',
 '025880': '케이씨피드',
 '007770': '한일화학',
 '221980': '케이디켐',
 '072130': '유엔젤',
 '043710': '서울리거',
 '072950': '빛샘전자'}